.lead {
    margin: 0 auto;
    width: 984px;
    height: 983px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead__title {
    margin: 0 auto;
    width: 720px;
    height: 200px;
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

.lead__subtitle {
    margin: 32px auto 0;
    width: 720px;
    height: 72px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.lead__box-image {
    margin: 64px auto 0;
    width: 984px;
    height: 615px;
    overflow: hidden;
}

.lead__image {
    width: 100%;
    object-fit: cover;
}